<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlostojal.myvehicles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/myvehicles_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myvehicles_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddInsuranceInspectionTaxRevision"
            android:label="@string/title_activity_add_insurance_inspection_tax"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InsurancesInspectionsTaxesRevisions"
            android:label="@string/title_activity_insurances_inspections_taxes_revisions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleDetails"
            android:label="@string/title_activity_vehicle_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddVehicle"
            android:label="@string/title_activity_add_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>